.landingPage {
    header {

        // general layout/positioning
        height: 55px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        // styles and colors
        background-color: $black;
        color: white;
        h1 {
            color: white;
            padding: 6px 20px;
            font-family: $heading;
            font-weight: 700;
            font-size: 3.5rem;
        }
    }
    ul {
        display: flex;
        justify-content: center;
    }
    .start {
        background: $offWhite;
        background-image:url('../../images/heroImage.png/');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        height: 90vh;
        @include mq-710 {
            background-size: cover;
        }
    }
    .startContainer {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        .tagLine {
            flex: 1 0 100%;
            text-align: left;
            padding: 15px 0;
            h2 {
                font-weight: 400;
                @include mq-980 {
                    background:white;
                    padding: 10px;
                }
            }
        }
    }
    .startForm {
        @include mq-980 {
            flex: 1 1 100%;
        }
        text-align: left;
        input {
            width: 350px;
            height: 60px;
            margin-right: 10px;
            padding-left: 10px;
            @include mq-980 {
                flex: 1 1 100%;
                margin-right: 0;
            }
        }
        display: flex;
        @include mq-980 {
            display: block;
            background: rgba(255, 255, 255, 0.705);
        }
        @include mq-980 {
            p {
                margin-top: 25px;
            }
        }
        background: $white;
        padding: 20px;
        box-shadow: 3px 3px 10px darken($offWhite, 10%);
    }
    form {
        display: flex;
        flex-wrap:wrap;
    }
    .buttons {
        display: flex;
        @include mq-980 {
            justify-content: space-between;
            width: 100%;
        }
    }
}


button,
.skipToEvents {
    width: 170px;
    height: 60px;
    font-family: $body;
    font-weight: 600;
    background: $yellow;
    text-transform: uppercase;
    border: none;
    box-shadow: 1px 1px 2px $black;
}

button.submit {
    margin-right: 5px;
    @include mq-980 {
        flex: 1 1 50%;
        margin-top: 10px;
    }
    // @include mq-980 {
    //     margin-top: 10px;
    // }
}

.skipToEvents {
    text-align: center;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    @include mq-980 {
        flex: 1 1 50%;
        margin-top: 10px;
    }
    
}

.events {
    text-align: left;
    position: relative;
    background: $offWhite;
    .wrapper {
        height: 100%;
    }
    h3 {
        padding: 60px 0 0;
        font-weight: 400;
        letter-spacing: 1.5px;
        position: relative;
        z-index: 20;
    }
    ul {
        padding-top: 10px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto-fill, 200px);
        grid-gap: 30px 30px;
        @include mq-980 {
            grid-template-columns: repeat(2, 1fr);
        }
        @include mq-500 {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    li {
        flex: 0 0 32%;
        margin-top: 20px;
        height: 200px;
        padding: 30px;
        background: white;
        font-weight: 700;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            border: 2px solid $red;
        }
    }
    h2 {
        position: absolute;
        font-size: 9rem;
        z-index: 10;
        color: darken($offWhite, 5%);
        letter-spacing: 1.5px;
    }
    a {
        background: $yellow;
        padding: 5px 10px;
    }

}
