// Grid styles

ul.recipePreviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  li {
    width: 100%;
    max-width: 300px;
    box-shadow: 2px 2px 2px rgba(24, 24, 24, 0.5);
  }
  img {
    width: 30%;
  }
}