// Variables
$black:#1b001d;
$red: #ce2003;
$yellow:#ffeb02;
$white: rgb(255, 255, 255);
$offWhite: #fafafb;

$heading: 'Cormorant Garamond',serif;
$body: 'Barlow', sans-serif;



// Mixins

@mixin mq-1230 {
  @media (max-width: 1230px) {
    @content;
  }
}

@mixin mq-1050 {
  @media (max-width: 1050px) {
    @content;
  }
}

@mixin mq-980 {
    @media (max-width: 980px) {
        @content;
    }
}

@mixin mq-710 {
    @media (max-width: 710px) {
        @content;
    }
}

@mixin mq-500 {
  @media (max-width: 500px) {
    @content;
  }
}
